#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.textDecoration {
  text-decoration: none;
}
::placeholder,label,span,.MuiInputLabel-root,h6 { /* Chrome, Firefox, Opera, Safari 10.1+ */
 text-transform: capitalize !important;
  
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-transform: capitalize !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  text-transform: capitalize !important;
}

#select{
  padding: 7.5px 14px;
}

.multiple_val .MuiChip-filled{
  height: auto !important
}

.user_fieldagent .css-hu2lj5 {
  overflow: auto !important;
}